body {
    color: var(--begotten-white);
}

.sr-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#reserveText {
    font-size: 1.1em;
    max-width: 65ch;
    width: 45vw;
    align-self: center;
    text-align: center;
    line-height: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    text-align: center;
    padding: 2em;
    width: 40vw;
    background-color: var(--begotten-grey);
}

.container div h1, .container div h4, .cd-image, .sr-legal-text, #reserveText, #buyButton {
    margin-top: 0.7em;
    margin-bottom: 1em;
}

.reserveInfo {
    line-height: 1.5em;
}

.sr-legal-text {
    font-size: 0.7em;
}

#quantity-input {
    background-color: var(--begotten-white);
    padding: 0.3em;
    text-align: center;
    border-style: none;
    user-select: none;
    -moz-appearance: textfield;
}

#buyButton {
    font-size: 1em;
    padding: 0.7em;
    width: max-content;
    font-weight: 500;
    color: var(--begotten-white);
    background-color: var(--begotten-red);
    background-image: var(--begotten-gradient);
    border: 1px solid var(--begotten-white);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: ease 0.1s;
}

#buyButton:active {
    transform: scale(0.9);
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#alternatePay {
    align-self: center;
    margin-bottom: 1em;
}

#cashApp {
    height: 10vh;
}
#error-message {
    display: none;
}
@media (max-width: 800px) {
    .sr-main {
        align-items: center;
    }
    #reserveText {
        width: 80vw;
    }
    .container {
        width: 70vw;
    }
    #cashApp {
        flex-shrink: 0;
        margin-bottom: 1em;
    }
}