@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    --begotten-white: #ebebeb;
    --begotten-red: #e91b50;
    --begotten-grey: #333735;
    --begotten-dark: #1a1a1a;
    --lighter-red: #e07b95;
    --begotten-gradient: linear-gradient(to top right, #cf0036, #e91b50);
    --link-hover: #ecacbc;
    margin: 0;
}

body {
    background-color: var(--begotten-dark);
}

h1 {
    color: var(--begotten-red);
    font-family: 'Futura';
}

h2, h3, h4, p {
    color: var(--begotten-white);
    font-family: Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: var(--lighter-red);
}
a:hover {
    color: var(--link-hover);
}

::selection {
    background-color: #6b1027;
}

.blurOn {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* ===============================
NAV BAR STYLING 
================================== */
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;

}

#svgNav {
    margin: 0.4em;
    fill: url(#iconGrad);
    width: 50px;
}

.navLink {
    font-family: 'Montserrat','Futura';
    font-weight: bold;
    font-size: 1.2em;
    color: var(--begotten-red);
    align-self: center;
}

.navLink:hover, .navLink:active {
    color: var(--link-hover);
}


.wrapper {
    display: grid;
    grid-template-columns: 0.5fr max-content max-content 0.5fr max-content 0.5fr;
    grid-template-rows: max-content 2fr 1fr 1fr 1fr 1fr;
}

#svgIcon {
    grid-row: 1;
    grid-column: 1;
    margin: 0.4em;
   fill: url(#iconGrad);
   width: 50px; 
}

#title {
    grid-column: 2/4;
    grid-row: 2/4;
    width: 500px;
    height: 40vh;
}

#piano {
    grid-column: 5;
    grid-row: 2/4;
    width: 300px;
    cursor: pointer;
}

#tagline {
    grid-column: 1/7;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: var(--begotten-white);
    font-family: 'Montserrat','Futura';
    font-weight: lighter;
    line-height: 1.1em;
    margin-top: 1em;
    user-select: none;
}

#checkout-button {
    padding: 0.25em;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    color: var(--begotten-white);
    font-size: 2em;
    font-weight: 500;
    background-color: var(--begotten-red);
    background-image: var(--begotten-gradient);
    border: 1px solid var(--begotten-white);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 4px 10px #791f35ab;
    transition: 
        padding-inline ease 0.1s,
        border-radius 0.5s 0.1s;
    cursor: pointer;
    margin-top: 0.4em;
    grid-column: 1/7;
    grid-row: 5;
    justify-self: center;
    align-self: start;
    
    position: relative;
}

button a {
    text-decoration: none;
    color: var(--begotten-white);
    appearance: none;
    -webkit-appearance: none;
}

.reserve-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/7;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    margin-top: 5em;
}

#reserveTitle {
    font-size: 0.6em;
    color: var(--begotten-white);
}

#spotsLeft {
    color: var(--begotten-red);
}

#create {
    grid-column: 1/7;
    grid-row: 5;
    justify-self: center;
    align-self: start;
    margin-top: 0.4em;
    position: relative;
    display: none;
}

#create:hover, #create:focus, #checkout-button:hover, #checkout-button:focus {
    cursor: pointer;
    padding-inline: 1em;
    border-radius: 30px;
}

#checkout-button:active {
    transform: scale(0.90);
    box-shadow: 0px 0px #791f35ab;
}

.countdown-section {
    grid-column: 2/6;
    grid-row: 6/7;
    justify-self: center;
    text-align: center;
    line-height:  1.8em;
}

#countdown {
    color: var(--begotten-red);
    font-family: 'Montserrat', sans-serif;
}

#theC {
    fill: var(--begotten-white);
    animation: blinker 5s linear 2s infinite;
}

#theD {
    fill: var(--begotten-white);
    animation: blinker 5s linear 2s infinite;
}

/* ===================================
The C and D Animation
====================================== */

@keyframes blinker {
    0% {
        fill: var(--begotten-white);
    }
    30% {
        fill: var(--begotten-white);
    }
    40% {
        fill: var(--begotten-red);
    }
    50% {
        fill: tomato;
    }
    60% {
        fill: #00e48c;
    }
    70% {
       fill: #fbff09; 
    }
    80% {
        fill: #9b0d94;
    }
    100% {
        fill: var(--begotten-white);
    }
}

/* ====================================
Piano Animation
======================================= */
g > rect {
    fill: var(--begotten-white);
}

g >rect:hover {
    fill: var(--lighter-red);
}

g > rect:active {
fill: var(--begotten-red);
}

rect {
    animation-duration: 1.3s ;
}

@keyframes strobe {
    0%, 20%, 40%, 60%, 80%, 100% {
        fill: var(--begotten-red);
    }
    10%, 30%, 50%, 70%, 90% {
        fill: var(--begotten-white);
    }
}
/* =====================================
media queary at 800px
======================================== */

@media (max-width: 863px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-items: center;
        place-items: center;
    }

    #title, #piano, #tagline {
        width: 70vw;
        margin-top: 2em;
    }

    #create, #checkout-button {
        align-self: center;
    }

    .reserve-section {
        margin-block: 1em;
    }

    .modalOn {
        top: 10px;
        left: 5vw;
        width: 90vw;
        font-size: 1.2em;
    }
    .modal #closeButton {
        font-size: 0.7em;
    }
}